body, html {
	height: 100%;
	margin: 0;
}

body {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.content-wrapper {
    padding-top: 6em;
    padding-bottom: 3em;
}


.topbar {
	opacity: .5;
}

.h-centered {
	width: 100%;
	text-align: center;
}

.v-centered {
	position: absolute;
	top: 30%;
}

.main-title {
	padding-top: 20px;
	font-weight: bold;
	font-size: 72px;
}

.project-container {
	background-color: white;
	padding: 0;
	box-shadow: 2px 2px 5px grey;
	margin-bottom: 10px;
	margin-top: 20px;
	border-radius: 5px;
	overflow:hidden;
}

.project-img {
	height: 315px;
	width: 50%;
	float: left;
	margin-right: 15px;
	position: relative;
}

.click-to-see {
	height: 315px;
	width: 50%;
	float: left;
	position: absolute;
	opacity: 0;
	background-color: #000;
	background-image: url("/assets/images/demo.png");
	background-position: center;
	background-size: contain;
	transition: opacity .2s;
}

.click-to-see:hover {
	opacity: .7;
	cursor:pointer;
}

.project-body {
	padding: 15px;
}

.title-container {
	position: relative;
    border-radius: 5px;
}

.title-img {
    width: 100%;
}
