.circle {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: inline-block;
}

.ty-12 {
	transform: translateY(12px);
}

#board {
	border: solid 5px black;
}

.black {
	background-color: #000;
}

.white {
	background-color: #fff;
}

#reset-btn {
	margin: 5px;
}